# Lists

Lists are similar to strings in their structure. Its usage area is very wide.

Lists can be split and indexed just like strings. Like string methods (capitalize(), index(), find()), there are also methods for lists.

However, while we cannot change the **n**th element of strings, we can change the nth element of lists.

We can store elements of any data type in a list.

## List Creation

In [1]:
# Empty list . It can also be created with the list() function.
empty_list = list()
empty_list

[]

In [2]:
# Empty list can be created with square brackets [].
empty_list = []
empty_list

[]

In [3]:
# Creating a full list
list = [1,2,3,4,5,6,7]
list

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# Changing an element in the list
list[1] = 44
list

[1, 44, 3, 4, 5, 6, 7]

In [8]:
# We can store values of different data types in a list variable.
list2 = [4,5,65,6.25,"pen",3.14,5.324]
list2

[4, 5, 65, 6.25, 'pen', 3.14, 5.324]

In [2]:
# A string can be converted to a list using the list() function.
s = "Hello"
lst = list(s)
lst

['H', 'e', 'l', 'l', 'o']

In [3]:
# But number type values cannot be converted to a list. The code below will throw an error.
s = 12364
lst = list(s)
lst

TypeError: 'int' object is not iterable

## Indexing and Sharding Lists

We have seen indexing and fragmentation operations on strings. Indexing and partitioning operations for lists are the same as for strings.

In [5]:
# Let's recreate our #list variable.
list=[1,2,3,4,5,6,7,8,9]

In [6]:
# 0th element of the list
list[0]

1

In [7]:
# 4th element of the list
list[4]

5

In [8]:
# Last element of the list
list[-1]

9

In [9]:
# Last element of the list
list[len(list)-1]

9

In [10]:
# From the beginning to the 5th index (not included)
list[:5]

[1, 2, 3, 4, 5]

In [11]:
# From index 2 to index 4
list[2:4]

[3, 4]

In [12]:
#Retrieves from the 5th element
list[5:]

[6, 7, 8, 9]

In [13]:
#gets list elements by skipping by 2
list[::2]

[1, 3, 5, 7, 9]

In [14]:
# invert the list
list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Nested Lists

It is possible to contain another list inside a list. These are called nested lists in Python. This type of feature is very useful in tree structures or matrix structures in Python.

In [ ]:
#3 Let's create a list.

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

newlist = [list1, list2, list3]
newlist

In [ ]:
# 0th element of 1st element
newlist[1][0]

## Array Operations

# in operator

It is a Boolean expression, that is, true-false. It is used as **x in s**. It returns true if the element x is in the array s, otherwise false.

In [ ]:
list_ = [1,2,3,4,5,6,7,8,9]

1 in list_

In [ ]:
10 in list

### not in operator

As we know, the note operator was affecting. We can use it as x not in s. It returns true if the element x is not in the array s, and false if it is inside the array s.

In [16]:
list_ = [1,2,3,4,5,6,7,8,9]

1 not in list_

False

In [17]:
10 not in list_

True

### + operator

Bitifies two arrays

In [19]:
list1 = [1,2,3,4,5,6]
list2 = ["Murat", "Ugur", "KIRAZ"]
new_list = list1 + list2
new_list

[1, 2, 3, 4, 5, 6, 'Murat', 'Ugur', 'KIRAZ']

### * operator

Its notation is "s*n". Copies the array n s times and adds it to the same list

In [20]:
3 * list1

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [21]:
list1 * 3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### s[i]

Returns the ith index numbered element of the array

In [22]:
list1[3]

4

Important If we give an index number that does not exist, we will get an error.

In [23]:
list1[35] # This code gives error.

IndexError: list index out of range

### s[i:j]

Returns the elements between index numbers i-j of the array.

In [24]:
list1[3:6]

[4, 5, 6]

### s[i:j:k]

It gives the elements between index numbers i-j of the array according to k iteration.

In [25]:
list1[1:6:2]

[2, 4, 6]