# Tuples

Tuples, are very similar to lists. But while list elements can be modified, tuple elements cannot. For this reason, we prefer to store list values that we do not want to be changed in our programs in a bucket.

### When Do We Use Tuples?

Lists are used more than tuples in Python. However, if there is information in your program that you do not want to be changed (such as Android application constants), you can store it in the bundle. They also run a little faster than lists because they are a Read Only datatype.

## Creating Tuples

In [1]:
# While lists are created with parentheses [], we create tuples with regular parentheses ().
t = (1,2,3,4,5,6,7,8,9)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
# We can find out its type with the help of the type() function.
type(t)

tuple

In [3]:
# we create empty tuple :) but it is illogical :))) because we cannot add data.
t = ()

In [4]:
# let's find out the type of the bundle
type(t)

tuple

In [5]:
# a tuple can also be created with the tuple() function.
t = tuple()
type(t)

tuple

In [6]:
# A string can be converted to a tuple using the tuple() function.
s = "Hello"
lst = tuple(s)
lst

('H', 'e', 'l', 'l', 'o')

In [7]:
# We can convert a list into a tuple as follows.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t = tuple(l)
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Indexing and Sharding Tuples

In [8]:
# 0th element of the tuple
t[0]

0

In [9]:
# 5th element of the tuple
t[0]

0

In [10]:
# From index 2 to index 5
t[2:5]

(2, 3, 4)

In [11]:
#Retrieves from the 5th element
t[5:]

(5, 6, 7, 8, 9, 10)

In [12]:
# Invert the tuple
t[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [13]:
# Retrieves tuple elements by skipping by 2
t[::2]

(0, 2, 4, 6, 8, 10)

## Immutability Feature

The tuples could not be changed. Let's see this now.

In [14]:
a_different_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Let's try to change the 2nd index of the tuple. ### This code throws an error.
a_different_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [15]:
# let's try to add a new element to the tuple ###This code gives an error.
a_different_tuple.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
# Let's try to delete the last data in the tuple.
a_different_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'