# Managing Types and Data Type Conversions
In Python and most other programming languages, datatypes must be converted to each other. For example, converting a decimal number to an integer or even converting a string to an integer is of great importance when writing our programs.

### Learning the data type

We can use the type() function to find out the data type.

In [8]:
integer = 5
float_number = 5.4
string = "Murat"
complex_number = complex(3,4)

In [9]:
type(integer)

int

In [10]:
type(float_number)

float

In [11]:
type(string)

str

In [12]:
type(complex_number)

complex

### Converting Integer to Decimal Number

We use the *float()* function to convert an integer value to a decimal number (float).

In [13]:
# We put the number we will convert in parentheses.
int_to_float = 43
float(int_to_float)

43.0

Or we can give an integer directly to the float() function.

In [14]:
float(-35)

-35.0

In [15]:
float(423)

423.0

### Converting a Decimal Number to an Integer

To convert a decimal number to an integer, we use the *int()* function. The result is the whole part of the decimal number.

In [16]:
int(4.7)

4

In [17]:
int(3.14)

3

In [18]:
int(10.3435435345345345)

10

In [19]:
integer_num = 4
float_num = 2.2
int(integer_num / float_num)

1

### Converting Numbers to Strings

We use the *str()* function to convert a number to a string. All digits or dots that make up the number become characters.

In [20]:
integer_number = 32324324
string_number = str(integer_number)
string_number

'32324324'

In [21]:
len(string_number)

8

### Converting Strings to Integers

When we want to convert a string to an integer, we use the *int()* function. However, in the conversion process, each character of the string must be a *digit*

In [22]:
string_to_integer = "32434324324234"
integer_number = int(string_to_integer)
integer_number # This code does not throw an error.

32434324324234

In [23]:
string_to_integer = "dasdasd343435"
integer_number = int(string_to_integer)
integer_number # This code gives an error. Each character must be base 10.

ValueError: invalid literal for int() with base 10: 'dasdasd343435'

### Converting Strings to Decimal Numbers

When we want to convert a string to a decimal number, we use the *float()* function. However, when doing the conversion, we must make sure that the string complies with the decimal number format.

**Note:** In Python, decimal numbers are written with "," not "." They are defined by . Therefore, if there will be a decimal value in the string expression, "." should contain.

In [24]:
string_to_float = "3.1444545"
float_number = float(string_to_float)
float_number # This code does not throw an error.

3.1444545

In [25]:
string_to_float = "3.14.324324"
float_number = float(string_to_float)
float_number # This code throws an error. Each character must be base 10.

ValueError: could not convert string to float: '3.14.324324'