# iterable What is it?

We call them objects such as lists and tuples, whose elements we can navigate sequentially.

Just as there are iterable objects defined in Python, we can also create our own iterable objects. But since this will be the subject of an advanced level, we will not go into details.

## in operator

Let's remember the "in" operator before loops.

The *in* operator in Python checks whether an element is contained in another list, tuple, or string (arrays of characters). We can use the in operator for an "iterable" object.

In [2]:
"e" in "Hello World"

True

In [3]:
"ll" in "Hello World"

True

In [4]:
"k" in "Hello World"

False

In [5]:
1 in [1,2,3,4]

True

In [6]:
10 in [1,2,3,4]

False

In [7]:
4 in (1,2,3)

False

In [ ]:
4 in 4 # This code gives an error because 4 is not "iterable".

# For Loop

**for** loops iterate through a collection of elements that are *iterable* and run a block of code with each element in the collection.

The *for* loop allows us to loop over iterable objects.

             for i in data_structure(iter_obj):
                 do_something()
                 
The following processes take place within this structure:

            The elements in "iter_obj" are assigned to the "i" variable in order.
            In each assignment operation, the codes in the "for" indentation block are executed.
            After the codes in the indentation block are finished, you go back to the beginning.
            The next element (inside iter_obj) is assigned to variable "i".
            This loop continues until all elements in "iter_obj" are completed in order.

In [19]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

Now let's add the elements in the list

In [8]:
my_list = [1,2,3,4,5,6,7,8,9]
summed = 0
for item in my_list:
    summed += item
    print("Element in loop: {}, Sum: {}".format(item,summed))
print("Sum",summed)

Element in loop: 1, Sum: 1
Element in loop: 2, Sum: 3
Element in loop: 3, Sum: 6
Element in loop: 4, Sum: 10
Element in loop: 5, Sum: 15
Element in loop: 6, Sum: 21
Element in loop: 7, Sum: 28
Element in loop: 8, Sum: 36
Element in loop: 9, Sum: 45
Sum 45

In [9]:
for i in 4:
    print(i)
# This code gives an error because 4 is not "iterable".

TypeError: 'int' object is not iterable

### Creating a for loop with lists

In [10]:
for x in ['one', 'two', 'three', 'four']:
    print(x)

one
two
three
four

### Creating a for loop with Range Function

We have seen the Range function in our previous lessons. This function created a series of numbers similar to lists by taking a start, end and optionally increment value.

In [11]:
x = range(0,6)
type(x)

range

In [12]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

### Creating a for loop with character arrays

In [13]:
c =  "Python"
for char in c:
    print(char)

P
y
t
h
o
n

In [15]:
# Multiply each character by 3
k = "Python"

for char in k:
    print(char * 3)

PPP
yyy
ttt
hhh
ooo
nnn

### Establishing a for loop with tuples

In [17]:
# Same as lists
t = (1,2,3,4,5,6,7)

for item in t:
    print(item)

1
2
3
4
5
6
7

### Establishing a for loop with sets

In [18]:
# Same as lists
s =  {1,2,3,4,5,6,7}

for e in s:
    print(e)

1
2
3
4
5
6
7

### Creating a for loop in nested arrays

We could use arrays (lists, tuples, sets, etc.) inside each other.

In [21]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

l = [list1, list2, list3]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can use the for loop as follows in arrays formed as above.

#### for lists

In [22]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

l = [list1, list2, list3]

for i, j, k in l:
    print(i, j, k)

1 2 3
4 5 6
7 8 9

#### for tuples

In [23]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = (7, 8, 9)

t = (t1, t2, t3)

for i,j,k in t:
    print(i,j,k)

1 2 3
4 5 6
7 8 9

In [24]:
# Practical method to get each element in the tuple
l = [(1,2), (3,4), (5,6), (7,8)]

for (i,j) in l:
    print(i,j)

1 2
3 4
5 6
7 8

### Using for loops in dictionaries

In [25]:
# Consider the following dictionary:
d = {"a": 1, "b": 2, "c": 3}
# Looping over the keys of this dictionary is as follows

for key in d:
    print(key)

a
b
c

In [26]:
# The above expression is also equivalent to
for key in d.keys():
    print(key)

a
b
c

In [27]:
# If we want to navigate through the values of the dictionary,
for value in d.values():
    print(value)

1
2
3

**If we want to use the key and value expressions of the dictionary, we have to use the items() method**

In [28]:
# If we want to use the key and value expressions of the dictionary, we have to use the items() method
for key, value in d.items():
    print(key, "::", value)

a :: 1
b :: 2
c :: 3

### Using the else word with a for loop

The for loop may optionally contain an else clause (in practice this usage is quite rare).
The else statement only iterates until a for loop completes and is executed after the for loop ends.

In [29]:
a = [1, 2, 3, 4]
for i in a:
    if type(i) is not int:
        print(i)
        break
else:
    print("no error")

no error

In [31]:
for key, value in d.items():
    print(key, "::", value)
else:
    print("loop finished")

a :: 1
b :: 2
c :: 3
loop finished

The else clause does not work if the loop ends in some other way (either by a break statement or by raising an exception):

In [32]:
for i in range(2):
    print(i)
    if i == 1:
        break
else:
    print('done')

0
1

### Using the word "pass" with a for loop

The word "pass" is an empty expression for situations where an expression is required by the Python syntax, but no action is required or desired by the programmer. This can be useful as a placeholder for code that hasn't been written yet.

In [33]:
for x in range(10):
    pass
print("tryme")

tryme